/* Category Page */
.category-books-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

@media (max-width: 640px) {
  .category-books-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .category-books-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .category-books-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1281px) {
  .category-books-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
